fastapi
pandas
pydantic
selenium
webdriver-manager
python-multipart
uvicorn
requests
typing_extensions
jinja2
pytz
urllib3
Jinja2
openpyxl
xlrd
aiofiles
python-dotenv
numpy
xlsxwriter
